<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Wilkommen, bienvenue, and welcome to Heroku!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{ js_resources|indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ script|indent(4)|safe }}

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Stock Ticker</h2>
          <p>Enter a stock symbol and date, and plot the 30 day trend up to the selected data</p>
        </div>
      </div>
    </div>

    <form>
      Stock Symbol (i.e. GOOG):<br>
      <input type="text" value={{stockticker|safe}} name="stockticker"><br>

     <label for="stdate">Select Date:</label>
      <input type="date" id="stdate" name="stdate" value = {{stdate|safe}}  max="2018-03-30">
      <input type="submit">

      <p>Select Data to Plot (Max 03/27/2018):</p>
        <div>
          <select name="choice">
          <option value="close">close</option>
          <option value="open">open</option>
          <option value="high">high</option>
          <option value="low">low</option>
          <option selected value={{choice|safe}}>{{choice|safe}}</option>
          </select>
<!--
        <div>
          <input type="radio" id="close"
          name="choice" value="close">
          <label for="close">Close</label>

          <input type="radio" id="open"
          name="choice" value="open">
          <label for="open">Open</label>

          <input type="radio" id="high"
          name="choice" value="high">
          <label for="high">High</label>

          <input type="radio" id="low"
          name="choice" value="low">
          <label for="low">Low</label>
        </div>
-->
<!--
      <div>
        <button type="submit">Submit</button>
      </div>
-->
    </form>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     {{ div|indent(4)|safe }}
  </body>
</html>
